{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>
<body>
    <h1> home page</h1>
    <!-- Create Post Button -->
    <a href="{% url 'post:create-post' %}">
        <button type="button">Create New Post</button>
    </a>
    <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type= "submit">Logout</button>
    </form>
    <a href=""></a>
</body>
</html>